extends layout

block content
    .layout-sidebar
        section.layout-sidebar__content
            .course
                h1.course__title= model.fields.title
                .course__description !{helpers.markdown(model.fields.description)}
            div.row
                div.form-group.lb-md
                    label(for='daysCount') #{translate('daysCountLabel', currentLocale.code)} T
                    input#daysCount.form-control.numbers-only(type='text', name='daysCount')
                div.form-group.lb-md
                    label(for='articleCount') #{translate('articleCountLabel', currentLocale.code)} R
                    input#articleCount.form-control.numbers-only(type='text', name='articleCount')
                div.form-group.lb-md
                    label(for='oneItemCost') #{translate('oneItemCostLabel', currentLocale.code)} Ft c1
                    input#oneItemCost.form-control.numbers-only(type='text' name='oneItemCost')
                div.form-group.lb-md
                    label(for='CostPerItemDiscount') #{translate('CostPerItemDiscount', currentLocale.code)} Ft b
                    input#CostPerItemDiscount.form-control.numbers-only(type='text' name='CostPerItemDiscount')
                div.form-group.lb-md
                    label(for='numberOfArticles') #{translate('numberOfArticles', currentLocale.code)} y
                    input#numberOfArticles.form-control.numbers-only(type='text' name='numberOfArticles')
                div.form-group.lb-md
                    label(for='storageCost') #{translate('storageCost', currentLocale.code)} Ft w
                    input#storageCost.form-control.numbers-only(type='text' name='storageCost')
            div.row
                div.mx-auto.m-5(style='width: 200px;')
                    button.calculate-button.btn.btn-primary(type='button') #{translate('CalculateButton', currentLocale.code)}
            div.row
                div.form-group.lb-md
                    label(for='totalProductionCost') #{translate('totalProductionCost', currentLocale.code)} b*y*c1
                    input#totalProductionCost.form-control.numbers-only(type='text', name='totalProductionCost', readonly='readonly')
                div.form-group.lb-md
                    label(for='optimalSizeOfArticles') #{translate('optimalSizeOfArticlesLabel', currentLocale.code)} q0
                    input#optimalSizeOfArticles.form-control.numbers-only(type='text', name='optimalSizeOfArticles', readonly='readonly')
                div.form-group.lb-md
                    label(for='optimalOrderPeriod') #{translate('optimalOrderPeriodLabel', currentLocale.code)} t0
                    input#optimalOrderPeriod.form-control.numbers-only(type='text', name='optimalOrderPeriod', readonly='readonly')
                div.lb-md
                    label(for='minimalOrderCost') #{translate('minimalOrderCostLabel', currentLocale.code)} (Ft) KT(q0)
                    input#minimalOrderCost.form-control.numbers-only(type='text', name='minimalOrderCost', readonly='readonly')
        script.

          jQuery('.numbers-only').keyup(function () {
            this.value = this.value.replace(/[^0-9\.]/g, '');
          });

          $(".calculate-button").click(function () {
            var daysCount = $("#daysCount").val(); //T
            var articleCount = $("#articleCount").val(); //R
            var CostPerItemDiscount = $("#CostPerItemDiscount").val(); //b
            var oneItemCost = $("#oneItemCost").val(); //c1
            var storageCost = $("#storageCost").val(); //w

            var optimalOrderingPeriod = Math.sqrt((2 * (daysCount * oneItemCost) / (articleCount * CostPerItemDiscount * storageCost)));
            $("#optimalOrderPeriod").val(optimalOrderingPeriod.toFixed(2));

            var optimalOrderSize = optimalOrderingPeriod * (articleCount / daysCount);
            $("#optimalSizeOfArticles").val(optimalOrderSize.toFixed(0));

            var minimalCost = Math.sqrt(2 * articleCount * daysCount * oneItemCost * CostPerItemDiscount * storageCost) + (articleCount * CostPerItemDiscount) + ((daysCount / 2) * oneItemCost * storageCost);
            $("#minimalOrderCost").val(minimalCost.toFixed(2));

          })

